<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

</head>
<body>
<nav th:fragment="navbar" class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/sunny/home}">Sunny<span>.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/sunny/home}">Home</a>
                </li>

                <li><a class="nav-link" th:href="@{/sunny/shop}">Shop</a></li>
                <li><a class="nav-link" th:href="@{/sunny/about}">About us</a></li>

                <li><a class="nav-link" th:href="@{/sunny/usermn}">Account</a></li>
                <li><a class="nav-link" th:href="@{/sunny/logout}">Logout</a></li>
            </ul>
            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">

                <li><a class="nav-link" th:href="@{/login/home}"><img src="/images/user.svg" alt="Login"></a></li>
                <li><a class="nav-link" th:href="@{/cart/ID}"><img src="/images/cart.svg" alt="Cart"></a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
